@import '../css/variables.scss';

.menu_btn_div {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 64px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px 16px;
  @include blockdrag;
  > span {
    font-size: 24px;
    cursor: pointer;
  }
  > h1 {
    font-size: 24px;
    font-family: 'black';
    color: $main_color;
  }
}
.menu_div {
  padding-top: 60px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: #f7f7f7;
  transition: left 0.3s;
  border-right: 1px solid #c9c9c9;
  @include blockdrag;
  .home {
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > span {
      font-size: 20px;
      margin-right: 8px;
    }
    > h3 {
      font-family: 'bold';
    }
  }
  .menu_list {
    padding-left: 24px;
    padding-right: 10px;
    > li {
      height: 44px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 0px 10px;
      cursor: pointer;
    }
    .crt_menu {
      background-color: #1b3e74;
      color: white;
      position: relative;
      .icon_div {
        display: flex;
        align-items: center;
        > p { // 대화중
          background-color: white;
          color: #1b3e74;
          font-family: 'bold';
          font-size: 12px;
          width: 40px;
          height: 22px;
          border-radius: 11px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;  
        }
        > span {
          font-size: 18px;
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}