@import '../css/variables.scss';
@include modal_container;
.container {
  width: 100%;
  min-width: $content_width;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .chat_wrap {
    width: $content_width;
    padding-bottom: 400px;
    padding-top: 80px;
    overflow: auto;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
    display: grid;
    grid-template-rows: 1fr wrap;
    #B, #C { // 챗봇
      justify-self: start;
    }
    #U { // 유저
      justify-self: end;
      .text_div > p{
        padding: 12px 20px;
        border-radius: 24px;
        background-color: $main_color;
        color: white;
        font-size: 16px;
      }
    }
    .character_chat_start { // 등장인물과 대화를 시작할게요
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 15px;
      margin-bottom: 40px;
      > p {
        font-size: 14px;
      }
      > span {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #C9C9C9;
      }
    }
    > div {
      position: relative;
      margin-bottom: 40px;
      .chat_div {
        display: flex;
        .dive_logo {
          width: 36px;
          height: 36px;
          border-radius: 18px;
          margin-right: 24px;
          border: 1px solid #DBDBDB;
        }
        .text_div {
          > h4 { // 이름
            font-size: 16px;
            font-family: 'bold';
            height: 36px;
            display: flex;
            align-items: center;
          }
          > p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// 로딩
.loading_div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  p {
    font-size: 14px;
  }
  .circle {
    position: relative;
    overflow: hidden;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: navy;
    .first, .second {
      height: 60px;
      width: auto;
      position: absolute;
    }
    .first {
      z-index: 99;
      animation: wave1 4s infinite linear;
    }
    .second {
      z-index: 98;
      animation: wave2 4s infinite linear;
    }
  } 
}

@keyframes wave1 {
  from {
    top: 52px;
    left: -130px;
  }
  to {
    top: -5px;
    left: 0px;
  }
}

@keyframes wave2 {
  from {
    top: 52px;
    right: -130px;
  }
  to {
    top: -5px;
    right: 0px;
  }
}

