@import '../css/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  @include blockdrag;
  .logo {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 174px;
    height: 52px;
    display: flex;
    align-items: center;
    img {
      width: 52px;
      height: auto;
    }
    h4 {
      font-size: 18px;
      font-family: 'Extrabold';
    }
  }
  .content {
    width: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 80px;
      font-family: 'Extrabold';
      line-height: 95px;
    }
    p {
      font-size: 20px;
      line-height: 28px;
      margin-top: 15px;
    }
    button {
      margin-top: 45px;
      width: 152px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border-radius: 28px;
      background-color: #1B3E74;
      color: white;
      cursor: pointer;
    }
    img {
      margin-top: 20px;
      width: 788px;
      height: auto;
    }
  }
}